html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	transition: background 200ms linear;
}

canvas {
	bordeR: 4px solid;
	border-color: rgba(1, 1, 1, 0.2);
	box-sizing: border-box;
}
